<body>
   <div class="heading"><h1>Submissions</h1></div>
   <div class="row"><% if current_user.reviewee == true %>
      <%@submisions.each_slice(3) do |three_submisions| %>
        <div class="row">
            <% three_submisions.each do |submision| %>
              <div class="col-md-4" >
                 <div class="well">
                  <h2><%= link_to submision.user.First_name, "/submisions/#{submision.id}" %></h2><%= raw(submision.submision) %>
                  <h4>Submision Time:</h4> <%= submision.created_at.strftime("%m-%d-%Y") %>
                  <h4>Graded: </h4><%= submision.graded%>  
                </div>
              </div>
            <% end %>
           </div>
        </div>
      <% end %>

      <% else current_user.reviewee == false%>
        <%@submisions.each_slice(3) do |three_submisions| %>
          <div class="row">
            <% three_submisions.each do |submision| %>
                <div class="col-md-4" >
                   <div class="well">
                        <h2><%= link_to submision.user.First_name.capitalize, "/submisions/#{submision.id}" %></h2><%= raw(submision.submision) %>
                        <h4>Submision Time: &nbsp <small><%= submision.created_at.strftime("%m-%d-%Y") %></small></h4>
                        <h4>Status:</h4><% if submision.graded == false %>
                            <h6> Not Graded </h6>

                           <% else %> 

                             <h6> Graded</h6>

                          <%end%>

                    </div>
                </div>
              <% end %>
           <% end %>
       <% end %>
    </div>
</body>