
<h2> Hi <% " " %><%= current_user.First_name %></h2>

   <div class="well">
    <h1>Submision: </h1> <%= @submision.submision %>
   </div>
     <% if  @submision.feedback %>
        <div class="well">
       <h2>Feedback:</h2><p><%=@submision.feedback.feedback%></p>
        </div>
     <% @submision.feedback.comments.each do |comment| %>
       <div class="well">
         <h3><%= comment.user.First_name %> 's comment:</h3><%=comment.comment %>
       </div>
     <% end %>
       <%= form_tag "/comments" do%>
         <div class="form-group" style="red">
           <label for="textArea" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="2" id="textArea" name="comment" style="width: 300px;"></textarea>
            </div>
         </div>
         <input type="hidden" name="feedback_id" value="<%= @submision.feedback.id %>">
         <div class="form-group">
           <div class="col-lg-10 col-lg-offset-2">
             <button type="submit" class="btn btn-primary">Add Comment</button>
           </div>
        </div>
       <% end %>
     <% end %>

<%if current_user.reviewee == false && @submision.graded == false %> 
  <% unless @submision.feedback %>
      <%= form_tag "/feedbacks", method: :post do %>
           <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" id="textArea" name="feedback" style="width: 500px;"></textarea>
                    </div>
                  </div>
                   <input type="hidden" name="user_id" value="<%= current_user.id%>">
                   <input type="hidden" name="submision_id" value="<%= @submision.id%>">
           <div class="form-group">
           <div class="col-lg-10 col-lg-offset-2">
             <button type="submit" class="btn btn-primary">Add Feedback</button>
           </div>
         </div>
      <% end %>
    <% end %>
  <% end %>


       
  


