
<h2> Hi <% " " %><%= current_user.First_name %></h2>

 
    <h1>Submision: </h1> <%= @submision.submision %>
  
     <% if  @submision.feedback %>
      <p>Feedback: <%=@submision.feedback.feedback%></p>

     <% @submision.feedback.comments.each do |comment| %>
        <p><%= comment.user.First_name %> : <%=comment.comment %></p>
     <% end %>
       <%= form_tag "/comments" do%>
         <textarea style="width: 200px;" name="comment"></textarea><br>
         <input type="hidden" name="feedback_id" value="<%= @submision.feedback.id %>">
         <button type="submit"><small>Comment</small></button>
       <% end %>
     <% end %>


 

<%if current_user.reviewee == false && @submision.graded == false %> 
  <% unless @submision.feedback %>
      <%= form_tag "/feedbacks", method: :post do %>
         <textarea style="width: 300px;" name="feedback"></textarea><br>
         <input type="hidden" name="user_id" value="<%= current_user.id%>">
         <input type="hidden" name="submision_id" value="<%= @submision.id%>">
         <button type="submit"> Add Feedback</button>
      <% end %>
    <% end %>
  <% end %>


       
  


